.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
.vector {
  margin-bottom: 50px;
}
.App-header {
  margin: 80px 0;
}
.App-footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.App-footer a {
  color: #2dc42b;
}
